.container {
	background-color: rgb(219, 190, 196);
	width: 80%;
	height: 80vh;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.itemn {
	background-color: rgb(241, 229, 213);
	width: 50%;
	height: 250px;
	padding: 20px;
}
